body {
    background-color: #e1e0e0ff;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333ff;
    font-size: 75px;
    text-align: center;
}

#logo {
    position: relative;
    top: 7px;
}

.container {
    display: block;
    width: 800px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 240px;
    position: relative;
}


.logo-box {
    background-color: #ffffffff;
    width: 100px;
    height: 100px;
    margin: 10px; /* Added margin for spacing between logo boxes */
    border-radius: 30px;
}

#facebook-logo, #twitter-logo, #instagram-logo, #youtube-logo, #github-logo, #linkedin-logo {
    display: block;
    width: 60%;
    height: auto;
    margin: auto;
    position: relative;
    top: 20px;
}


#facebook:hover img{
    content: url("icons/facebook/icons8-facebook-colored-50.png"); /* Change image source when hovering */
}

#facebook:hover{
    box-shadow: 0 0 10px #039be5ff;
}

#twitter:hover img{
    content: url("icons/twitter/icons8-twitter-48.png"); /* Change image source when hovering */
}

#twitter:hover{
    box-shadow: 0 0 10px #02a9f5ff;
}

#instagram:hover img{
    content: url("icons/instagram/icons8-instagram-48.png"); /* Change image source when hovering */
}

#instagram:hover{
    box-shadow: 0 0 10px #ffd54fff, 0 0 10px #f40157ff, 0 0 10px #8b22a6ff;
}

#youtube:hover img{
    content: url("icons/youtube/icons8-youtube-48.png"); /* Change image source when hovering */
}

#youtube:hover{
    box-shadow: 0 0 10px #fb3c01ff;
}

#github:hover img{
    content: url("icons/github/icons8-github-48.png"); /* Change image source when hovering */
}

#github:hover{
    box-shadow: 0 0 10px #01bcd5ff, 0 0 20px #445a65ff;
}

#linkedin:hover img{
    content: url("icons/linkedin/icons8-linkedin-48.png"); /* Change image source when hovering */
}

#linkedin:hover{
    box-shadow: 0 0 10px #0389d1ff;
}
